// Rounded.module.scss
.roundedButton {
  border-radius: 50%;
  background-color: #111111;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  p {
    position: relative;
    z-index: 1;
    display: flex;
    transition: color 0.4s linear;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    color: white;
    font-weight: 300;
  }

  &:hover {
    p {
      color: white;
    }
  }
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}
